@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <form class="card-body">
        <div class="card" style="border:hidden">
            <br />
            <div>
                <div class="card-header-tabs">
                    <h3 style="color:Blue">Insert New Sales</h3>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <br />
            </div>
        </div>

    </form>
</div>


<hr />
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <input class="form-control mr-sm-2" type="date" placeholder="Date From" aria-label="Search">
        <input class="form-control mr-sm-2" type="date" placeholder="Date To" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Customer Name</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Date Sold</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>1,007</td>
                <td>sagittis</td>
                <td>ipsum</td>
                <td>Praesent</td>
                <td>mauris</td>
            </tr>
            <tr>
                <td>1,008</td>
                <td>Fusce</td>
                <td>nec</td>
                <td>tellus</td>
                <td>sed</td>
            </tr>
            <tr>
                <td>1,009</td>
                <td>augue</td>
                <td>semper</td>
                <td>porta</td>
                <td>Mauris</td>
            </tr>
        </tbody>
    </table>
</div>
